<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Archive <%=nome%></title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }

        #container {
            height: 100%;
            width: auto;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
        }

        /*#htmleditor {
            height: 100%;
            min-height: 50vh;
            width: 33%;
            display: inline-block;
        }*/


    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    <div id="container">
        <!--div id="htmleditor"></div-->
    </div>
	<table>
		<tr>
			<th colspan=2><%=nome%></th>
		</tr>
		<tr>
			<td valign="top"> 
                <div style="margin-bottom: 2px;">
                    <button id="menu" type="button" onclick="menu()"> Menu </button>
                    <button id="salvar" type="button" onclick="salvar()"> Salvar </button>
                    <button type="button" onclick="executar()"> Executar </button>
                </div>
                <div id="htmleditor" style="width: 600px; height: 700px"><%=arquivo%></div>
                <!--textarea id="codigo" rows="50" style="width: 480px; white-space: pre;"></textarea-->
            </td>

            <td>
                Entrada <br>
                <textarea id="entrada" rows="20" style="width: 360px;"></textarea>
                <br>
                Saida <br>
                <textarea id="saida" rows="20" style="width: 360px;" readonly></textarea>
            </td>
		</tr>
    </table>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var ace;
        var textareas = document.getElementsByTagName('textarea');
        var count = textareas.length;

        //Função pronta da internet pra fazer tab em textarea
        for(var i=0;i<count;i++){
            textareas[i].onkeydown = function(e){
                if(e.keyCode==9 || e.which==9){
                    e.preventDefault();
                    var s = this.selectionStart;
                    this.value = this.value.substring(0,this.selectionStart) + "    " + this.value.substring(this.selectionEnd);
                    this.selectionEnd = s+4; 
                }
            }
        }

        function salvar() {
            var codigo = ace.getValue()//document.getElementById("codigo").value;
            document.getElementById("salvar").innerHTML = "Carregando...";
            $.ajax({
                url: document.location.origin + '/salvar',
                method: 'POST',
                contentType : "application/json",
                dataType : 'json',
                data: JSON.stringify({
                    id_usuario: "<%=usuario.id%>",
                    email: "<%=usuario.email%>",
                    nome: "<%=nome%>",
                    arquivo: codigo,
                }),
                success: function(data) {
                    setTimeout(() => {document.getElementById("salvar").innerHTML = "Salvar"}, 250);
                },
                error: function(data) {
                    alert("Erro ao salvar arquivo ", data);
                }
            });
        }

        function executar() {
            var codigo = ace.getValue()//document.getElementById("codigo").value;
            var entrada = document.getElementById("entrada").value;
            document.getElementById("saida").innerHTML = "Carregando...";
            $.ajax({
                url: document.location.origin + '/executar',
                method: 'POST',
                contentType : "application/json",
                dataType : 'json',
                data: JSON.stringify({
                    id_usuario: "<%=usuario.id%>",
                    email: "<%=usuario.email%>",
                    nome: "<%=nome%>",
                    arquivo: codigo,
                    entrada: entrada,
                }),
                success: function(data) {
                    document.getElementById("saida").innerHTML = data.info;
                },
                error: function(data) {
                    document.getElementById("saida").innerHTML = data.responseJSON.info;
                },
            });
        }

        function menu() {
            window.location = "/home"
        }

        function setEditor() {
            ace = ace.edit("htmleditor");
            ace.setTheme("ace/theme/terminal");
            ace.setKeyboardHandler("ace/keyboard/emacs");
            ace.session.setMode("ace/mode/c_cpp");
            ace.setFontSize("16px");
            //eh.getSession().on('change', () => {
            //    update();
            //})
        }
        setEditor();
    </script>
</body>
</html>