<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Archive - Home</title>
    <style>

		table {
			border-collapse: collapse;
		}

		table, th, td {
			border: 1px solid black;
		}

		._{
			border: 0
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
	<table style="margin: auto; min-width: 480px;" class="_">
		<tr class="_">
			<td class="_">
				<table style="width: 100%;">
					<tr>
						<th colspan="2"> Logado como</th>
					</tr>
					<tr>
						<th> <%= usuario.email %> </th>
						<th> <button onclick="window.location.href = 'sair'"> sair </button> </th>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="_">
			<td class="_">
				<table style="width: 100%;">
					<tr>
						<th colspan="3"> Novo arquivo </th>
					</tr>
					<tr>
						<form action="home/upload" method="post" enctype="multipart/form-data">
							<td> Upload </td>
							<td>
								<input type="file" name="arquivo" value="upload" required accept=".c"/>
								<input type="submit" value="Enviar">
							</td>
						</form>
					</tr>
		
					<tr>
						<form action="home/novo" method="post">
							<td> Criar </td>
							<td>
								<input type="input" name="arquivo" placeholder="hello.c"  required/>
								<input type="submit" value="Enviar">
							</td>
						</form>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="_">
			<td class="_">
				<table style="width: 100%;">
					<tr>
						<th colspan=6> Meus arquivos </th>
					</tr>
					<tr>
						<th> # </th>
						<th> Arquivo </th>
						<th> Data modificação </th>
						<th colspan="3"> Ação </th>
					</tr>
					<% for(var i=0; i < data.length; i++) { %>
						<tr>
						<td> <%= i+1 %> </td>
						<td> <%= data[i].nome %> </td>
						<td> <%= data[i].modificado %> </td>
						<td> <a href="home/arquivo/<%= data[i].id %>"> abrir </a> </td>
						<td> <a href="home/download/<%= data[i].id %>" target="_blank"> download </a> </td>
						<td> <a href="home/deletar/<%= data[i].id %>"> deletar </a> </td>
						</tr>
					<% } %>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>